<html>
<head>
    <a href="form">Registration Form</a>
</head>
<body>
    <h1>Display Table</h1>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Hobbies</th>
            <th>Ineterested Area</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        {{#each userArray }}
        <tr>
            {{!-- <td>{{ i+1 }}</td> --}}
            <td> {{@index}}</td>
            <td>{{ firstName }}</td>
            <td>{{ lastName }} </td>
            <td>{{ gender }}</td>
            <td>{{ address }}</td>
            <td>{{ hobbies }}</td>
            <td>{{ interestArea }}</td>
            <td><img src="/images/{{pImg}}" style="width: 100px;"></td>
            <td> <a href="/edit-user/{{_id }}">Edit</a>
                <a href="/delete/{{ _id }}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</body>
</html>