<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  
  <title>Document</title>
  
  <script type="text/javascript" src="../jquery.js"></script>
  <script type="text/javascript" src="/javascripts/users.js"></script>
  <link rel="stylesheet" href="../bootstrap.css">
  <link rel="stylesheet" href="../styles.css">
  {{!-- validation --}}
  <script src="../bootstrap.js"></script>
  <style>
    .error {
      color: red;
    }

    legend {
      font-size: 50px;
      background-color: black;
      color: cornsilk;
    }

    body {
      background-color: #D7DBDD;
    }
  </style>
  <script type="text/javascript" src="../validation.js"></script>
  {{!-- ENd --}}
</head>

<body>
  <section class=" gradient-custom">
    <div class="container py-5 h-100" id="firstdiv">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form enctype="multipart/form-data" id="registration" method="POST">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="firstName">First Name</label>
                      <input type="text" id="firstName" class="form-control form-control-lg" name="firstName" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Last Name</label>
                      <input type="text" id="lastName" class="form-control form-control-lg" name="lastName" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 mb-4">
                    <label for="">Gender:</label>
                    <div class="form-check form-check-inline">
                      <input class="gender" type="radio" name="gender" id="Female" value="female" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="gender" type="radio" name="gender" id="Male" value="male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="gender" type="radio" name="gender" id="other" value="other" />
                      <label class="form-check-label" for="otherGender">Other</label> <br><br>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="add">Address</label>
                          <textarea name="address" id="address" cols="30" rows="3 " class="form-control rounded-0" id="exampleFormControlTextarea2"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <label for="">Hobbies:</label>
                        <div class="form-check">
                          <input  type="checkbox"  name="hobbies"
                            id="cricket" value="cricket" class="hobbies">
                          <label class="form-check-label" for="flexCheckDefault">
                            Cricket
                          </label>
                        </div>
                        <div class="form-check">
                          <input  type="checkbox"  name="hobbies"
                            id="basketBall" value="basketball" class="hobbies">
                          <label class="form-check-label" for="flexCheckChecked">
                            BasketBall
                          </label>
                        </div>
                        <div class="form-check">
                          <input  type="checkbox"  value="chess"
                            id="chess" name="hobbies" class="hobbies">
                          <label class="form-check-label" for="flexCheckChecked">
                            Chess
                          </label>
                        </div>
                        <div class="form-check">
                          <input  type="checkbox"  value="football"
                            id="football" name="hobbies" class="hobbies">
                          <label class="form-check-label" for="flexCheckChecked">
                            Football
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <select class="select form-control-lg" name="interestArea" id="interestArea">
                        <option value="Choose option" selected disabled>Choose option</option>
                        <option value="Developer">Developer</option>
                        <option value="Networking">Networking</option>
                        <option value="Administrator">Adminstrator</option>
                        <option value="Other">Other</option>
                      </select>
                      <label class="form-label select-label">Choose Intrested Area</label> <br> <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <input type="file" name="pImg" id="pImg" />
                    </div>
                    <div class="pImg"></div>
                  </div> 
                  <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" id="userSubmit"  value="Submit" />
                    <input class="btn btn-primary btn-lg" type="reset"  id="userReset"  value="Reset" style=display:none />
                    <input class="btn btn-primary btn-lg" type="button"  id="userUpdate" value="Update" data-id=""  style=display:none />
                  </div>                 
                  <div>
                    <h1>Display Table</h1>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" data-search="search" name="search" id="search" placeholder="Search" />
                        </div>
                      </div>
                      <div>
                        <select name="serachGender" id="gender">
                          <option class="dropDown" id="all" data-gender="all" value="all">All</option>
                          <option class="dropDown" id="male" data-gender="male" value="male">Male</option>
                          <option class="dropDown" id="female" data-gender="female" value="female">Female</option>
                          <option class="dropDown" id="other" data-gender="other" value="other">Other</option>
                          
                        </select>
                      </div>
                      <div>
                        <button type="button" class="sort" id="search">Search</button>
                        <button type="reset">Reset</button> <br><br>
                      </div>
                    </div>
                    <table border='1' id="tableId" >
                      <thead>
                        <th> <a data-key="firstName" data-order="asc" class="sort">First Name</a></th>
                        <th> <a data-key="lastName" data-order="asc" class="sort">Last Name </a></th>
                        <th> <a data-key="gender" data-order="asc" class="sort">Gender</a></th>
                        <th> <a data-key="address" data-order="asc" class="sort">Address</a></th>
                        <th>Photo</th>
                        <th>Action</th>
                      </thead>
                      <tbody class="tableBody">
                      {{#each userArray }}
                      <tr id={{_id}} class={{_id}}>
                          <td class="tableData" >{{ firstName }}</td>
                          <td class="tableData">{{ lastName }} </td>
                          <td class="tableData">{{ gender }}</td>
                          <td class="tableData">{{ address }}</td>
                          <td class="tableData"><img src="/images/{{pImg}}" style="width: 100px;"></td>
                          <td class="tableData"> <button type="button" value="{{_id}}" id="userEdit1"  class="userEdit" data-id="{{_id}}" >Edit</button>
                              <button type="button"  value="{{_id}}" class="userDelete" onclick="fndelete(event,1)">Delete</button>
                          </td>
                      </tr>
                      {{/each}}
                     </tbody>                    
                  </table>
                  <button type="button" data-key="previous"  class="previous" id="previous">Previous</button>
                  <button type="button" data-key="next"  class="next" id="previous" >Next</button>
                </div>                 
              </form> 
            </div>
          </div>
        </div>
     </div>
    </div>
  </section>
</body>

</html>

