<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <title>Document</title>
  <script type="text/javascript" src="../jquery.js"></script>
  <link rel="stylesheet" href="../bootstrap.css">
  <link rel="stylesheet" href="../styles.css">
  {{!-- validation --}}
  <script src="../bootstrap.js"></script>
  <style>
    .error {
      color: red;
    }

    legend {
      font-size: 50px;
      background-color: black;
      color: cornsilk;
    }

    body {
      background-color: #D7DBDD;
    }
  </style>
  <script type="text/javascript" src="../validation.js"></script>
  {{!-- ENd --}}
</head>

<body>
  <section class=" gradient-custom">
    <div class="container py-5 h-100" id="firstdiv">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form enctype="multipart/form-data" id="registration" method="POST">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="firstName">First Name</label>
                      <input type="text" id="firstName" class="form-control form-control-lg" name="firstName" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Last Name</label>
                      <input type="text" id="lastName" class="form-control form-control-lg" name="lastName" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 mb-4">
                    <label for="">Gender:</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="gender" value="Female" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="gender" value="Male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="gender" value="other" />
                      <label class="form-check-label" for="otherGender">Other</label> <br><br>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="add">Address</label>
                          <textarea name="address" id="address" cols="30" rows="3 " class="form-control rounded-0" id="exampleFormControlTextarea2"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <label for="">Hobbies:</label>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="hobbies"
                            id="hobbies" value="Cricket">
                          <label class="form-check-label" for="flexCheckDefault">
                            Cricket
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="hobbies"
                            id="hobbies" value="basketball">
                          <label class="form-check-label" for="flexCheckChecked">
                            BasketBall
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckChecked" value="chess"
                            id="hobbies" name="hobbies">
                          <label class="form-check-label" for="flexCheckChecked">
                            Chess
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckChecked" value="football"
                            id="hobbies" name="hobbies">
                          <label class="form-check-label" for="flexCheckChecked">
                            Football
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <select class="select form-control-lg" name="interestArea" id="interestArea">
                        <option value="Choose option" selected disabled>Choose option</option>
                        <option value="Developer">Developer</option>
                        <option value="Networking">Networking</option>
                        <option value="Administrator">Adminstrator</option>
                        <option value="Other">Other</option>
                      </select>
                      <label class="form-label select-label">Choose Intrested Area</label> <br> <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <input type="file" name="pImg" id="pImg" />
                    </div>
                    <label for="">Passport Photo</label>
                  </div>
                  <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" id="userSubmit"  value="Submit" />
                    <input class="btn btn-primary btn-lg" type="reset"  id="userReset"  value="Reset" style=display:none />
                    <input class="btn btn-primary btn-lg" type="submit"  id="userUpdate" value="Update" style=display:none />
                  </div>
                  
                  <div>
                    <h1>Display Table</h1>
                    <table border='1' id="tableId" >
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Photo</th>
                        <th>Action</th>
                      </tr>
                      {{#each userArray }}
                      <tr id={{_id}} class={{_id}}>
                          <td>{{ firstName }}</td>
                          <td>{{ lastName }} </td>
                          <td>{{ gender }}</td>
                          <td>{{ address }}</td>
                          <td><img src="/images/{{pImg}}" style="width: 100px;"></td>
                          <td> <button type="button" value="{{_id}}" id="userEdit1"  class="userEdit" data-id="{{_id}}" >Edit</button>
                              <button type="button"  value="{{_id}}" class="userDelete" onclick="fndelete(event,1)">Delete</button>
                          </td>
                      </tr>
                      {{/each}}                   
                  </table>
                </div>                 
              </form> 
            </div>
          </div>
        </div>
     </div>
    </div>
  </section>
</body>
<script>
  $("document").ready(function (){
    $("#registration").validate({
        rules:{
          firstName:{required: true,minlength: 3},
          lastName: {required: true},
          gender:{required: true},
          address:{required: true,minlength: 5},
          hobbies:{required: true},
          interestArea:{required: true},
          pImg:{required: true}
        },
        messages:{
          firstname: 
          { required: "Please enter your firstname",minlength: "Firstname must be at least 3 characters"},
          lastname:{ required: "Please enter your lastname"},
          gender:{required: "Please select a gender"},
          address: {required: "Please Enter Address",minlength: "Your Address must be at least 5 characters long"},
          hobbies: {required: "Please select a hobbies"},
          interestArea: {required: "Please Choose Ineterested Field"},
          img: {required: "Please select Passport Photo "},
        },  
        submitHandler: function(form){                                           
            let databus = new FormData($(form).get(0));
            $.ajax({
              url: '/form',
              type: 'post',
              data: databus,
              enctype: "multipart/form-data",
              contentType: false,
              cache: false,
              processData: false,
              success: function (data){
                console.log(data,"data");
                if (data.status == "success"){
                  console.log(data.data.pImg);
                    $('#tableId').append('<tr id="'+data.data._id+'"><td>'+data.data.firstName+'</td><td>'+data.data.lastName+'</td><td>'+data.data.gender+'</td><td>'+data.data.address+
                      '</td><td><img style="width: 100px" src=/images/'+data.data.pImg+
                      '></td><td> <button type="button" id="userEdit2" data-id="'+data.data._id+'"  class="userEdit" >Edit</button> | <button type="button" id="btndelete'+data.data._id+'" class="userDelete" onclick="fndelete(this,2)">Delete</button> </td></tr>');                        
                    $('#registration').each(function () 
                    {
                      this.reset(); //for reset formsss
                    });
                }else{
                  alert("error")
                }
                //console.log(data) 
                     
                return false;
              }
            });                             
        },
    });   
    console.log("before defi");
    $(document).on('click','.userEdit',function(){
      console.log("indise edit")
      $('#userUpdate').show();
      $('#userReset').show();
      $('#userSubmit').hide();
                                console.log("before edit ajax");
                                let userData = $(this).data('id');
                        
                        console.log(userData);
      //                  $("#userUpdate").append("<input style=background-color:orange type=button data-id='" + userData + "' class = update value=Update>");
                        
                        console.log("userRecord"+userData)
                            $.ajax({
                                url:'/'+userData,
                                type:'GET',
                                data : {id: userData},
                                success : function(response) {
                                    console.log(userData); 
                                    let userResponse = response.userData;
                                    console.log(response)
                                    console.log("after edit ajax");
                                    $("#firstName").val(userResponse.firstName);
                                    $('#lastName').val(userResponse.lastName);
                                    $('#address').val(userResponse.address);
                                    $('#gender').prop('checked','checked');
                                    for(let i=0;i<userResponse.hobbies.length;i++){
                                        console.log(userResponse.hobbies[i])
                                        $('#hobbies').prop('checked','checked');
                                    }
                                    $('#area').val(userResponse.interestArea);
                                    $('#pImg').append('<img src=/images/'+userResponse.image+'>');
                                },
                                error : function(err) {
                                    console.log(err);
                                }
                            }); 
    })
    $('#userReset').click(function(){ //when user click reset
      console.log("inside user reset")
      $('#userUpdate').hide();
      $('#userReset').hide();
      $('#userSubmit').show();
    }) 
  }) 
//Delete
  function fndelete(event,flag){  //function call which accept (this) flag 1 for database button and flag 2 for ajax button
    var userId = flag == 1 ? event.path[2].id : event.id.replace('btndelete', ''); //if flag 1 then id replace with 'btndelete' ''
    $.ajax({
      url:'/'+userId+'',
      type:'delete',
      success : function(data){ 
        if(data.status == "success")
           $('#'+userId).remove();
      }
    });
  }
  
</script>
</html>

